input[type=text], select {
    padding: 8px 12px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

.input-text-container {
    display: flex;
    gap: 9px;
    align-items: center;
    justify-content: space-between;
}

.input-radio-container {
    display: flex;
    padding: 12px 0px;
    gap: 9px;
    align-items: center;
    justify-content: space-between;
}

.input-radio-button {
    display: flex;
    gap: 5px;
}

.input-select-container {
    display: flex;
    gap: 9px;
    align-items: center;
    justify-content: space-between;
}

.form-container {
    display: flex;
    flex-direction: column;
    border: 2px solid lightgray;
    border-radius: 5px;
    padding: 10px;
    font-size: 90%;
}

.email-generator-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}