.organismeapi-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  justify-content: stretch;
  align-items: stretch;
}

.organismeapi-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 5px;
  margin: 5px;
  border: 1px solid darkgray;
}

.organismeapi-container a {
  color: lightblue;
}

.organismeapi-wrap {
  padding: 0px;
  margin: 0px;
}
