.courrier-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}



.main-form {
    display: flex;
    align-items:center;
    justify-content: space-between;
    width: 80vw;
    flex-direction: row;
}

.input-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

.input-form label {
    font-size: larger;
    font-weight: 500;
}

.input-form button {
    margin: 5px 10px;
    max-width: fit-content;
}

.input-form button:hover:enabled {
    cursor: pointer;
}

.input-form button:hover:disabled {
    cursor: not-allowed;
}

.input-field {
    width: 37vw;
    height: 80px;
}

.main-form-render {
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
    width: 80vw;
    flex-direction: row;
}

.main-form-render li {
    list-style: none;
}

.etatCivil-render {
    width: 37vw;
    margin: 5px;
    padding-top: 16px;
    text-align: left;
}

.bienImmo-render {
    width: 37vw;
    margin: 5px;
}

.bienImmo-render td {
    font-size: smaller;
}

table, th, td {
  border: 1px solid;
}
table {
    width: 100%;
}