:root {
  --font-color: #333;
  --background-color: #eee;
  --link-color: cornflowerblue;
  --menu-color : cornflowerblue;
}

[data-theme="dark"] {
  --font-color: #eee;
  --background-color: #333;
  --link-color: lightblue;
  --menu-color: rgb(75, 65, 65) ;
}

a {
  color: var(--link-color);
}

.App {
  text-align: center;
  background-color: var(--background-color);
  background-size: cover;
  height: 100vh;
  color: var(--font-color);
}

html {
   min-height: 100%;
}